.skills {
  margin: 100px;
  width: 1366px;
  .main-text {
    text-align: center;
    padding: 20px;
    margin: auto;
    line-height: 50px;
    h1 {
      font-size: 40px;
      color: orange;
    }

    span {
      font-size: 30px;
      font-weight: bolder;
    }
  }

  .skills-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;

    .skill-left {
      .skill-bar {
        margin-bottom: 2.3rem;

        .info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px;
        }

        .bar {
          width: 100%;
          height: 10px;
          background-color: rgb(54, 50, 86);
          border-radius: 25px;
          margin-top: 10px;
          position: relative;

          span {
            width: 50%;
            height: 100%;
            left: 0;
            position: absolute;
            background: orange;
            border-radius: 25px;
            box-shadow: orange;
          }

          .html {
            width: 80%;
            animation: html 2s;
          }

          .css {
            width: 63%;
            animation: css 3s;
          }

          .javascript {
            width: 85%;
            animation: javascript 4s;
          }

          .react-js {
            width: 70%;
            animation: react-js 5s;
          }
          .node-js {
            width: 45%;
            animation: node-js 6s;
          }
        }
      }
      h3 {
        text-align: center;
        padding: 5vh;
        margin-bottom: 2rem;
        font-size: 40px;
      }
    }

    .skill-right {
      h3 {
        text-align: center;
        padding: 5vh;
        margin-bottom: 2rem;
        font-size: 40px;
      }

      .professional {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;

        .box {
          position: relative;
          margin: 10px 0;
          flex: 1 1 15rem;

          .circle {
            width: 100%;
            height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;

            .points {
              width: 2px;
              height: 10px;
              background-color: rgb(54, 50, 86);
              position: absolute;
              border-radius: 3px;
              transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
            }

            .marked {
              animation: glow 0.9s linear forwards;
              animation-delay: calc((var(--i) * 0.05s));
            }
          }

          .text {
            text-align: center;
            columns: #fff;
            font-size: 1rem;

            big {
              font: 400;
              letter-spacing: 1px;
              position: absolute;
              top: 44%;
              left: 51%;
              transform: translate(-50%, -50%);
            }

            small {
              display: block;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 63%;
  }
}

@keyframes javascript {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@keyframes react-js {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes node-js {
  0% {
    width: 0;
  }
  100% {
    width: 45%;
  }
}

// for professional skills bar
@keyframes glow {
  0% {
    background: gray;
    box-shadow: none;
  }
  100% {
    background: orange;
    box-shadow: orange;
  }
}
